.text-input {
    -fx-text-fill: #fafafa;
    -fx-background-color: #343434;
    -fx-border-color: #fafafa;
    -fx-border-radius: 10;
    -fx-padding: 10 20;

}

.text-input:focused {
    -fx-border-color: #E06249;
}